@{
    ViewData["Title"] = "Staff Dashboard";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="staff-card">
            <div class="card-header">
                <h5 class="card-title mb-0"></h5>
            </div>
            <div class="card-body">
                <p></p>
                
            </div>
        </div>
    </div>
</div>